<div id="nav" class="nav">
    <ul>
        <li class="nav-item">
            <a href="/music" class="clearfix">
                <div class="nav-circle" style="background-color: #C8977C">
                    <i class="icon ion-ios-musical-notes"></i>
                </div>
                <span>Music</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/resume" class="clearfix">
                <div class="nav-circle" style="background-color: #363653">
                    <i class="icon ion-ios-paper"></i>
                </div>
                <span>Résumé</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/contact" class="clearfix">
                <div class="nav-circle" style="background-color: #d5dbde">
                    <i class="icon ion-ios-email"></i>
                </div>
                <span>Contact</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/" class="clearfix">
                <div class="nav-circle" style="background-color: #009CFF">
                    <i class="icon ion-ios-home"></i>
                </div>
                <span>Home</span>
            </a>
        </li>
    </ul>
</div>
