{{!< default}}
<main class="content" role="main">
    <div class="error-container">
        <h1>404</h1>
        <a href="http://www.gilelvgren.com/GE/" target="_blank"><img src="/assets/imgs/404.png" /></a>
        <p>Wups! Looks like we missed the mark a bit.</p>
        <a href="/" title="home">Home</a>
    </div>
</main>
